<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      p {
        font-size: 18px;
      }
      a {
        color: #3498db;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <p>
      Your Reset Password Token Is
      <a href="{{ resetPasswordUrl }}">{{ resetPasswordUrl }}</a>
    </p>
  </body>
</html>
